<!DOCTYPE html>
<html>
<head>
  <title>Chess With Friends</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# Devise Notifications %>
<%= notice %>
<%= alert %>

<%= yield %>

</body>
</html>
